 @media (min-width: 1200px) {
  .container-xxl {
    max-width: 1440px;
  }
}
.new_listing.bg-gray-100 {
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
h1.page-title {
  text-align: left;
  margin: 0 auto;
  padding: 25px 0 60px;
  font-size: 2.1rem;
  font-weight: 700;
  display: block !important;
}

.new_listing .other_items {
  margin-top: 18px;
}
.featured_head {
  font-size: 24px;
  font-weight: 700;
}

.new_listing .other_items .swiper-button-prev-custom,
.new_listing .other_items .swiper-button-next-custom {
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  background: #fff;
  color: #5e5e5e;
  font-size: 20px;
}

.new_listing .other_items .swiper-button-prev-custom:hover,
.new_listing .other_items .swiper-button-next-custom:hover {
  background-color: #f1f1f1;
  border: 1px solid #5e5e5e !important;
}

.new_listing .other_items.featured_items .swiper-button-disabled {
  opacity: 0.3 !important;
}

.product-page .new_listing .product-card .img {
  position: relative;
}

.product-page .new_listing .product-card .img .main_thumb img {
  height: auto;
  max-height: inherit;
  width: auto;
}

.new_listing .background_thumb {
  position: absolute;
  transform: scale(1.5);
  background: #464545;
}
.new_listing .background_thumb img {
  filter: blur(6px);
  opacity: 0.5;
}
.product-page .new_listing .related-products .swiper {
  position: relative;
}
.main_thumb {
  position: relative;
  align-items: center;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  overflow: hidden;
}
.product-page .other_items .product-card .price .metc2 {
  justify-content: start;
  align-items: center;
  gap: 13px;
  width: 100%;
  display: flex;
}

.product-page
  .new_listing
  .dealers-section
  .product-card
  .img
  .main_thumb
  .thumb_img {
  align-items: center;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.view-more-btn-wrapper {
  z-index: 9;
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 200px;
  margin: 0 auto;
}

.view-more-btn {
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  background: rgb(255 255 255 / 94%);
  border-radius: 5px;
  width: auto;
  padding: 10px 15px;
  font-size: 15px;
}



.lli_head {
  display: block;
      height: 100%;
}

.product-page .other_items .product-card .price .metc2 h5.slog {
  color: #000000;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}
.product-page .other_items .product-card .price .metc2 h5.slog s {
  color: #ababab;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.product-page .other_items .product-card .price .metc2 .card-price {
  color: #0066f0;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  background-color: #0000;
  border-left: 1px solid #cccdce;
  border-right: 1px solid #cccdce;
  border-radius: 0;
  width: auto;
  height: 45px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 3px 13px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  position: relative;
  font-family: Montserrat, sans-serif !important;
}

.product-page .other_items .product-card .price .metc2 .card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -20px;
  width: 0;
  height: 0;
  top: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 20px solid transparent;
}

.product-page .other_items .product-card .price .metc2 .card-price:after {
  content: "";
  background-color: transparent;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: -4px;
  top: 26px;
}

.product-page .other_items .product-card .price .metc2 .card-price span {
  font-family: Poppins;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}

.product-page .other_items .product-card .btn {
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  background: none;
  border: 1px solid #333;
  display: block;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

.product-page .other_items .product-card .btn.btn-primary {
  background-color: #ec7200;
  border-color: #ec7200;
  color: #ffffff;
}

.product-page .other_items .product-card .btn:hover,
.product-page .other_items .product-card .btn.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.more_info {
  position: relative;
}

.more_info button {
  color: #696969;
  background: none;
  border: none;
  font-size: 15px;
  text-decoration: underline;
}

.new_listing .vehicleDetailsWithIcons.simple {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  margin-bottom: 5px;
  padding: 5px 0;
  height: 90px;
  width: 100% !important;
  display: inline-block !important;
}

.new_listing .vehicleDetailsWithIcons.simple li {
  color: #fff;
  text-align: center;
  vertical-align: top;
  float: left;
  align-items: center;
  width: 35%;
  margin-right: 25px;
  padding: 3px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
}

.new_listing .vehicleDetailsWithIcons.simple li:before {
  content: "";
  color: #797979;
  margin-right: 5px;
  font-family: "Font Awesome 6 Free";
  font-size: 9px;
  font-style: normal;
  font-weight: 900;
  position: relative;
}

.new_listing .vehicleDetailsWithIcons.simple li span {
  color: #000;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.bottom_mid {
  display: flex;
  gap: 10px;
  margin-bottom: 13px;
}
.bottom_mid span i {
  margin-right: 2px;
  color: #adadad;
}
.bottom_mid span {
  font-size: 14px;
  color: #000;
}
.bottom_button {
  display: flex;
  gap: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #f2f4f8;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  padding: 25px 30px;
  animation: 0.2s ease-in-out 0s 1 normal none running fadeIn;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 25px;
}

.popup-box h4 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #000000;
}

.popup-box p {
  color: #000000;
}

.close-popup {
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
}

.sidebar-navigation ul li .drop_down {
  cursor: pointer; /* add this */
}

.sidebar-navigation ul li.selected a.drop_down::after {
  transform: rotate(180deg);
}

.sidebar-navigation ul li a em,
.sidebar-navigation ul li div em {
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 50%;
}

.sidebar-navigation ul li:hover > a,
.sidebar-navigation ul li.selected > a,
.sidebar-navigation ul li:hover > div,
.sidebar-navigation ul li.selected > div {
  background-color: #ecf0f1;
  color: #000000;
  border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navigation ul li ul {
  display: none;
}

.sidebar-navigation ul li ul.open {
    background: #fff;
    display: block;
}

.sidebar-navigation ul li ul li a,
.sidebar-navigation ul li ul li div {
  color: #000000;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 6px 25px;
  font-size: 15px;
}

.sidebar-navigation ul li ul li a:before,
.sidebar-navigation ul li ul li div:before {
  content: "";
  width: 10px;
  height: 1px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #495d62;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.sidebar-navigation ul li ul li:hover > a,
.sidebar-navigation ul li ul li.selected > a,
.sidebar-navigation ul li ul li:hover > div,
.sidebar-navigation ul li ul li.selected > div {
  background-color: #e6ebed;
}

.sidebar-navigation ul li ul li:hover > a:before,
.sidebar-navigation ul li ul li.selected > a:before {
}

.sidebar-navigation ul li ul li.selected.selected--last > a {
  background-color: #94aab0;
  color: #fff;
}

.sidebar-navigation ul li ul li.selected.selected--last > a:before {
  background-color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9;
}
.overlay.active {
  display: block;
}
/* Hover to show dropdown */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Ensure the dropdown menu is positioned correctly */
.dropdown-menu {
  width: 250px;
  left: 0;
  padding: 15px 0;
  border-radius: 0px;
  border: 0;
  -webkit-box-shadow: 0 0 20px #0001;
  box-shadow: 0 0 20px #0001;
  top: 100%;
}

.dropdown-menu .dropdown-item {
  padding: 5px 20px;
  font-size: 15px;
  background: transparent;
  color: #000;
}

.dropdown-menu .dropdown-item:hover {
  color: #f58333;
}

.navbar.style-4 .navbar-nav .nav-item:hover .nav-link,
.navbar.style-4 .navbar-nav .nav-item .nav-link.active {
  color: #f58333;
}

/* Additional styles for the sidebar dropdowns */
.hidden-lg.hidden-md:hover .dropdown-menu {
  display: block;
}

.sidebar-navigation ul li .drop_down::after {
  content: ""; /* ▼ */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 80%;
  position: absolute;
  top: 30%;
  right: 20px;
  transition: transform 0.3s ease;
}

.mobile_cta {
  border-top: 1px solid #bebebe;
  padding-top: 10px;
  text-align: center;
}

.mobile_cta span {
  padding-bottom: 5px;
  font-weight: 600;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.mobile_cta a.btn {
  background-color: #ec7200;
  border-color: #ec7200;
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
  width: 90%;
  text-align: center;
}

/* Rotate arrow when open */
.sidebar-navigation ul li.selected .drop_down::after {
  transform: rotate(180deg);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.style-4.header-white {
    padding: 8px 0px;
  }
  .navbar.style-4 .navbar-brand {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar.style-4 {
    background-color: #000000;
    padding: 10px 0;
  }
  .logo_left {
    display: inline-block;
    width: 70%;
    float: left;
  }
  .header_right_info {
    width: 30%;
    display: flex;
    margin-top: 0;
    align-items: center;
    gap: 0;
    justify-content: end;
  }
}

@media screen and (max-width: 480px) {
  .navbar.style-4 .navbar-brand {
    width: 250px;
    padding: 0;
  }
  .menuIconToggle {
    width: 35px;
  }
}
